<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="serial_arm_ros2_control" params="name config_file *joints">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>serial_arm_ros2_control/SerialArmSystem</plugin>
                <param name="config_file">${config_file}</param>
            </hardware>
            <xacro:insert_block name="joints"/>
        </ros2_control>
    </xacro:macro>
</robot>
