<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="DM-Arm">
    <xacro:arg name="robot_profile" default="gray"/>
    <xacro:arg name="config_file" default=""/>

    <xacro:include filename="$(find dm_arm_description)/urdf/dm_arm.urdf.xacro"/>
    <xacro:include filename="$(find dm_arm_ros2_control)/urdf/dm_arm_system.ros2_control.xacro"/>

    <xacro:dm_arm_ros2_control name="dm_arm" config_file="$(arg config_file)"/>
</robot>
